%tr
  %td.feature-in-list.text-left
    .feature-name
      - if feature.link
        = link_to "#{feature.title}", feature.link
      - else
        = feature.title
      - if feature.gitlab_com == false
        &nbsp;**
  %td.check-container.text-center
    = partial "includes/features/pricing-feature-item", locals: { feature_support: feature.public_send(key_one) }
  %td.check-container.text-center
    = partial "includes/features/pricing-feature-item", locals: { feature_support: feature.public_send(key_two) }
  %td.check-container.text-center
    = partial "includes/features/pricing-feature-item", locals: { feature_support: feature.public_send(key_three) }
